body
  div#data
    h1 Weather App
    h3
      span#city
      span, 
      span#country
    h3#weather
    i#icon.owf.owf-5x
    h3
      span#temp
      span °
      span: button#units(value="metric", onclick="toggleUnits()") C
