/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block; }

body {
	line-height: 1; }

ol, ul {
	list-style: none; }

blockquote, q {
	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none; }

table {
	border-collapse: collapse;
	border-spacing: 0; }

html, body {
	margin: 0;
	padding: 0;

}

/*
Custom Table styling
*/
table {
	text-align: left;
	/*margin: auto;*/
	margin: 25px auto;
}
td, th {
	padding: 15px;
	vertical-align: middle;
}
tr {
	transition: all .5s;
}
tr:hover {
	background: rgba(0, 0, 0, .1);

}

/*
Custom basic styling
*/
body {
	background: #fff;
	width: 100%;
	height: 100%;
	text-align: center; }
body h1, body h2, body h3, h4, body p, body a, .post > p, a, tr, td, th {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #111;
	text-decoration: none;
	line-height: 1.5em; }

#right {
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	max-width: 800px;
	padding: 50px;
}


#circle {
	display: inline-block;
	vertical-align: middle;
	width: 400px;
	height: 400px;
	background: #111;
	border-radius: 50%;
	overflow: hidden;
	margin: auto;
}

#circle img {
	width: 100%;
	height: 100%; }
p.big > a, td > a {
	color: #0088ff;
}
a.social > img {
	width: 60px;
}
.btn > span {
	position: relative;
	top: 0;
	display: block;
	width: 25px;
	height: 3px;
	margin-bottom: 5px;
	background-color: black;
	transition: .5s all;
}
.btn.open > span {
	background-color: white;

}
.btn.open > span.top {
	-webkit-transform: translateY(8px) rotateZ(135deg);
	-moz-transform: translateY(8px) rotateZ(135deg);
	-ms-transform: translateY(8px) rotateZ(135deg);
	-o-transform: translateY(8px) rotateZ(135deg);
	transform: translateY(8px) rotateZ(135deg);
}
.btn.open span.bottom {
	-webkit-transform: translateY(-8px) rotateZ(225deg);
	-moz-transform: translateY(-8px) rotateZ(225deg);
	-ms-transform: translateY(-8px) rotateZ(225deg);
	-o-transform: translateY(-8px) rotateZ(225deg);
	transform: translateY(-8px) rotateZ(225deg);
}

.btn.open span.middle {
	-webkit-transform: rotateZ(135deg);
	opacity: 0;
	-moz-transform: rotateZ(135deg);
	-ms-transform: rotateZ(135deg);
	-o-transform: rotateZ(135deg);
	transform: rotateZ(135deg);
}

.btn {
	background: none;
	border: none;
	position: fixed;
	top: 25px;
	left: 25px;
	z-index: 2;
	transition: .5s all;
}


#navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
	z-index: 1;
	opacity: 0;
	pointer-events: none;
}
#navigation > ul > a > li {
	color: white;
	line-height: 100px;
	transition: .5s all;
}
#navigation > ul > a > li:hover {
	background: rgba(0, 0, 0, .5);
}
#navigation > ul {
	position: absolute;
	width: 100%;
	height: 300px;
	top: 50%;
	margin-top: -150px;

}
#navigation {
	font-size: 20px;
	transition: all .5s;
}
#navigation.open {
	opacity: 1;
	pointer-events: initial;
}
/**
 * fullPage 2.6.6
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 */

html.fp-enabled,
.fp-enabled body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*Avoid flicker on slides transitions for mobile phones #336 */
	-webkit-tap-highlight-color: transparent; }

#superContainer {
	height: 100%;
	position: relative;
	/* Touch detection for Windows 8 */
	-ms-touch-action: none;
	/* IE 11 on Windows Phone 8.1*/
	touch-action: none; }

.fp-section {
	position: relative;
	-webkit-box-sizing: border-box;
	/* Safari<=5 Android<=3 */
	-moz-box-sizing: border-box;
	/* <=28 */
	box-sizing: border-box; }

.fp-slide {
	float: left; }

.fp-slide, .fp-slidesContainer {
	height: 100%;
	display: block; }

.fp-slides {
	z-index: 1;
	height: 100%;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.3s ease-out;
	/* Safari<=6 Android<=4.3 */
	transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
	display: table;
	table-layout: fixed;
	width: 100%; }

.fp-tableCell {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%; }

.fp-slidesContainer {
	float: left;
	position: relative; }

.fp-controlArrow {
	position: absolute;
	z-index: 4;
	top: 50%;
	cursor: pointer;
	width: 0;
	height: 0;
	border-style: solid;
	margin-top: -38px;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0); }

.fp-controlArrow.fp-prev {
	left: 15px;
	width: 0;
	border-width: 38.5px 34px 38.5px 0;
	border-color: transparent #fff transparent transparent; }

.fp-controlArrow.fp-next {
	right: 15px;
	border-width: 38.5px 0 38.5px 34px;
	border-color: transparent transparent transparent #fff; }

.fp-scrollable {
	overflow: scroll; }

.fp-notransition {
	-webkit-transition: none !important;
	transition: none !important; }

#fp-nav {
	position: fixed;
	z-index: 100;
	margin-top: -32px;
	top: 50%;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0); }

#fp-nav.right {
	right: 17px; }

#fp-nav.left {
	left: 17px; }

.fp-slidesNav {
	position: absolute;
	z-index: 4;
	left: 50%;
	opacity: 1; }

.fp-slidesNav.bottom {
	bottom: 17px; }

.fp-slidesNav.top {
	top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
	margin: 0;
	padding: 0; }

#fp-nav ul li,
.fp-slidesNav ul li {
	display: block;
	width: 14px;
	height: 13px;
	margin: 7px;
	position: relative; }

.fp-slidesNav ul li {
	display: inline-block; }

#fp-nav ul li a,
.fp-slidesNav ul li a {
	display: block;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: pointer;
	text-decoration: none; }

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	height: 12px;
	width: 12px;
	margin: -6px 0 0 -6px;
	border-radius: 100%; }

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	border-radius: 50%;
	position: absolute;
	z-index: 1;
	height: 4px;
	width: 4px;
	border: 0;
	background: #333;
	left: 50%;
	top: 50%;
	margin: -2px 0 0 -2px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out; }

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
	width: 10px;
	height: 10px;
	margin: -5px 0px 0px -5px; }

#fp-nav ul li .fp-tooltip {
	position: absolute;
	top: -2px;
	color: #fff;
	font-size: 14px;
	font-family: arial, helvetica, sans-serif;
	white-space: nowrap;
	max-width: 220px;
	overflow: hidden;
	display: block;
	opacity: 0;
	width: 0; }

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
	-webkit-transition: opacity 0.2s ease-in;
	transition: opacity 0.2s ease-in;
	width: auto;
	opacity: 1; }

#fp-nav ul li .fp-tooltip.right {
	right: 20px; }

#fp-nav ul li .fp-tooltip.left {
	left: 20px; }
.container {
	margin: 20px;
}
/*!*# sourceMappingURL=style.css.map *!*/

/*
Responsive Styling
*/
@media (min-width:320px)  { 
	/* iPhone */
	#circle {
		width: 180px;
		height: 180px;
	}
	h1 {
		font-size: 37px;
	}
	p {
		font-size: 18px;
	}
}
@media (min-width:414px)  {
	/* iPhone 6/7 Plus */
	#circle {
		width: 210px;
		height: 210px;
	}
	#main > h1, h1 {
		font-size: 43px;
	}
	p {
		font-size: 21px;
	}

}

@media (min-width:801px)  { 
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	#right {
		max-width: 600px;
	}
	section {
		margin: 0;
	}
}
@media (min-width:1281px) { 
	/* hi-res laptops and desktops */
	#circle {
		width: 400px;
		height: 400px;
	}
	#right {
		max-width: 750px;
	}
}
@media (min-width:1500px) {
	/* hi-res laptops and desktops */
	#circle {
		width: 500px;
		height: 500px;
	}
	#right {
		max-width: 800px;
	}
	#main > h1, h1 {
		font-size: 100px;
	}
	#navigation {
		font-size: 30px;
	}
	p, p > a {
		font-size: 30px;
	}
	.btn > span {
		width: 40px;
		height: 5px;
		margin-bottom: 8px;
	}
	.btn.open > span.top {
		-webkit-transform: translateY(13px) rotateZ(135deg);
		-moz-transform: translateY(13px) rotateZ(135deg);
		-ms-transform: translateY(13px) rotateZ(135deg);
		-o-transform: translateY(13px) rotateZ(135deg);
		transform: translateY(13px) rotateZ(135deg);
	}
	.btn.open span.bottom {
		-webkit-transform: translateY(-13px) rotateZ(225deg);
		-moz-transform: translateY(-13px) rotateZ(225deg);
		-ms-transform: translateY(-13px) rotateZ(225deg);
		-o-transform: translateY(-13px) rotateZ(225deg);
		transform: translateY(-13px) rotateZ(225deg);
	}

	.btn.open span.middle {
		-webkit-transform: rotateZ(135deg);
		opacity: 0;
		-moz-transform: rotateZ(135deg);
		-ms-transform: rotateZ(135deg);
		-o-transform: rotateZ(135deg);
		transform: rotateZ(135deg);
	}
	td, th {
		padding: 20px;
		font-size: 24px;
	}
}


