header
  h1 Quote Machine
div#quoteBox
  blockquote#quoteContent Welcome to my quote machine
  span#author Benjamin Cook
  div.buttonBox
    a(target="_blank" href="https://twitter.com/intent/tweet?text=Welcome to my quote machine - Benjamin Cook")#tweet: button Tweet
    button#new New Quote